.item {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 200px;
  height: auto;

  text-align: center;

  background-color: #ffffff;
  border-radius: 4px;

  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);

  overflow: hidden;

  padding: 8px 12px;
}

.online {
  width: 16px;
  height: 16px;

  background-color: green;
  border-radius: 50%;
}

.offline {
  width: 16px;
  height: 16px;

  background-color: red;
  border-radius: 50%;
}

.avatar {
  border-radius: 4px;
}

.name {
  font-size: 24px;
}
